<h1 class="loud text-center">Sign in</h1>

<%= form_for :session, 
        url: session_path, 
        method: :post,
        html: { class:'script-session-form' }  do |f| %>
    <br/>
  <div class="script-field form-group col-lg-3">
    <%= f.text_field :name,
          placeholder: 'Your shop name',
          class:'script-input-name welcome-input' %>
    <br/>
  </div>
  <div class="script-field form-group col-lg-3">
    <%= f.text_field :email,
          placeholder: 'Email address',
          class:'script-input-email welcome-input' %>
    <br/>
  </div>
  <div class="script-field form-group col-lg-2">
    <%= f.password_field :password,
          placeholder: 'Password',
          class:'script-input-password welcome-input' %>
    <br/>
  </div>
  <div class="form-group col-lg-4">
    <%= f.submit 'Sign in', class: 'welcome-button' %>
  </div>
<% end %>