<%= render 'shared/sort_search_panel'%>
<div class="container">
  <div>
    <h1 class="text-center"><%= t('.heading') %></h1>
    <div class="row">
      <div class="col-md-2 col-md-offset-5"><hr></div>
    </div>
    <h3 class="text-center"><%= t('.info') %></h3>
  </div>
  <div class="row">
    <%@styles.each do |style| %>
      <div class="col-md-4">
        <%= image_tag style.image %>
        <span><%= link_to "#{style.theme.name} — #{style.name}", theme_store_style_path(id: style.theme.id, style_id: style.id)%></span>
        <% if style.theme.price == 0 %>
        <span class="pull-right"><%= t('.free_price') %></span>
        <% else %>
        <span class="pull-right"><%= style.theme.price %>$</span>
        <% end %>
      </div>
    <%end %>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1"><hr></div>
  </div>
  <%= render 'shared/sell_theme' %>
  <%= render "shared/get_started" %>
</div>