<%= render 'shared/sort_search_panel' %>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <h1><%= @style.theme.name %></h1>
      <% if @style.theme.price != 0 %>
        <h4><%= @style.theme.price%>$</h4>
      <% else %>
        <h4><%= t('.free_price')%></h4>
      <% end %>
      <p><%= t('.info') %></p>
      <%= link_to t('.preview_button'), theme_store_preview_in_your_store_path(@style), class: "btn btn-success" %><br>
      <%= link_to t('.buy_theme'), theme_store_buy_theme_path(@style.theme) %>
      <%= link_to t('.view_demo'), theme_store_view_demo_path(@style) %>
      <hr>
      <h4><%= t('.who_supports') %></h4>
      <p><%= t('.support_info') %></p>
      <%= link_to t('.support'), theme_store_support_path(@style.theme.partner) %>
      <%= link_to t('.documentation'), theme_store_documentation_path(@style.theme.partner) %>
      <%= link_to t('.terms_of_service'), theme_store_terms_of_service_path %>
    </div>
    <div class="col-md-6">
      <%= link_to (image_tag @style.image), theme_store_view_demo_path(@style) %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h3><%= t('.includes_styles', number_of_styles: pluralize(@style.theme.theme_styles.count, t('.style'))) %></h3>
    </div>  
  </div>
  <div class="row">
    <% @style.theme.theme_styles.each do |style| %>
      <div class="col-md-3 col-md-offset-1">
        <%= link_to (image_tag style.image), theme_store_style_path(id: style.theme.id, style_id: style.id)%>
        <p><%= link_to style.name, theme_store_style_path(id: style.theme.id, style_id: style.id)%></p>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h3><%= t('.store_using_theme')%></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/225/theme_example/original.png" class="img-thumbnail" alt="Image">
    </div>
    <div class="col-md-2">
      <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/240/theme_example/original.png" class="img-thumbnail" alt="Image"> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h4><%= t('.review_heading') %></h4>
    </div>
    <div class="col-md-5">
      <%= link_to t('.review_button'), theme_store_create_review_path, class: "btn btn-success pull-right" %>
    </div>
  </div>
  
  <div class="row">
    <% @style.theme.reviews.each do |review| %>
      <div class="col-md-1">
        <% case review.mark %>
          <% when -1 %>
            <span class="glyphicon glyphicon-thumbs-down center-block" aria-hidden="true"></span>
          <% when 0 %>
            <span class="glyphicon glyphicon-hand-right center-block" aria-hidden="true"></span>
          <% when 1 %>
            <span class="glyphicon glyphicon-thumbs-up center-block" aria-hidden="true"></span>    
        <% end %>  
      </div>
      <div class="col-md-5">
        <p><%= review.body %></p>
        <p>— <%= review.user.full_name %></p>
      </div>
    <% end %>
  </div>

  <hr>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h4><%= t('.more_themes_by') %><%= link_to @style.theme.partner.name, theme_store_author_path(@style.theme.partner) %></h4>
    </div>  
  </div>
  <div class="row">
    <% @style.theme.partner.theme_styles.with_exception_of(@style).take(3).each do |partner_style| %>
      <div class="col-md-3 col-md-offset-1">
        <%= link_to (image_tag partner_style.image), theme_store_style_path(id: partner_style.theme.id, style_id: partner_style.id) %>
        <span><%= link_to "#{partner_style.theme.name} — #{partner_style.name}", theme_store_style_path(id: partner_style.theme.id, style_id: partner_style.id) %></span>
        <% if partner_style.theme.price != 0 %>
          <span class="pull-right"><%= partner_style.theme.price %>$</span>
        <% else %>
          <span class="pull-right"><%= t('.free_price') %></span>
        <% end %>
      </div>
    <% end %>
  </div>
  <hr>

  <% unless  @style.industry_styles.with_exception_of(@style).empty? %>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <h4>
          <%= t('.more_templates_html', industry: link_to(@style.industry, theme_store_industry_path(@style))) %>
        </h4>
      </div>  
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <% @style.industry_styles.with_exception_of(@style).take(3).each do |industry_style| %>
            <div class="col-md-4">
              <%= link_to (image_tag industry_style.image), theme_store_style_path(id: industry_style.theme.id, style_id: industry_style.id) %>
              <span><%= link_to "#{industry_style.theme.name} — #{industry_style.name}", theme_store_style_path(id: industry_style.theme.id, style_id: industry_style.id) %></span>
              <% if industry_style.theme.price != 0 %>
                <span class="pull-right"><%= industry_style.theme.price %>$</span>
              <% else %>
                <span class="pull-right"><%= t('.free_price') %></span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <%= render "shared/get_started" %>
</div>