<footer class="container">
  <hr>
  <div class="row">
    <h5><%= t('.categories_title') %></h5>
    <hr>
    <div class="col-sm-3">
      <div><a  href="#"><%= t('.art_and_photography') %></a></div>
      <div><a  href="#"><%= t('.clothing_and_fashion') %></a></div>
      <div><a  href="#"><%= t('.jewelry_and_accessories') %></a></div>
    </div>
    <div class="col-sm-3">
      <div><a  href="#"><%= t('.electronics') %></a></div>
      <div><a  href="#"><%= t('.food_and_drink') %></a></div>
      <div><a  href="#"><%= t('.home_and_garden') %></a></div>
    </div>
    <div class="col-sm-3">
      <div><a  href="#"><%= t('.furniture') %></a></div>
      <div><a  href="#"><%= t('.health_and_beauty') %></a></div>
      <div><a  href="#"><%= t('.sports_and_recreation') %></a></div>
    </div>
    <div class="col-sm-3">
      <div><a  href="#"><%= t('.toys_and_games') %></a></div>
      <div><a  href="#"><%= t('.other') %></a></div>
      <div><a  href="#"><%= t('.responsive') %></a></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h5><%= t('.ecommerce_title') %></h5>
      <hr>
      <div class="col-sm-6">
        <div><a  href="#"><%= t('.sell_online') %></a></div>
        <div><a  href="#"><%= t('.features') %></a></div>
        <div><a  href="#"><%= t('.examples') %></a></div>
        <div><a  href="#"><%= t('.website_builder') %></a></div>
        <div><a  href="#"><%= t('.online_retail') %></a></div>
        <div><a  href="#"><%= t('.ecommerce_website') %></a></div>
      </div>
      <div class="col-sm-6">
        <div><a  href="#"><%= t('.store_design') %></a></div>
        <div><a  href="#"><%= t('.shopping_cart') %></a></div>
        <div><a  href="#"><%= t('.ecommerce_hosting') %></a></div>
        <div><a  href="#"><%= t('.mobile') %></a></div>
        <div><a  href="#"><%= t('.ecommerce_software') %></a></div>
        <div><a  href="#"><%= t('.faq') %></a></div>
      </div>
    </div>
    <div class="col-sm-3">
      <h5><%= t('.point_of_sale_title') %></h5>
      <hr>
      <div><a  href="#"><%= t('.sell_in_person') %></a></div>
      <div><a  href="#"><%= t('.ipad_pos') %></a></div>
      <div><a  href="#"><%= t('.hardware') %></a></div>
      <div><a  href="#"><%= t('.pos_software') %></a></div>
      <div><a  href="#"><%= t('.sell_in_person') %></a></div>
    </div>
    <div class="col-sm-3">
      <h4 class="small"><%= t('.help_title') %></h4>
      <hr>
      <div><a  href="#"><%= t('.support') %></a></div>
      <div><a  href="#"><%= t('.shop') %> <%= t('.docs') %></a></div>
      <div><a  href="#"><%= t('.blog') %></a></div>
      <div><a  href="#"><%= t('.ecommerce_forums') %></a></div>
      <div><a  href="#"><%= t('.api_docs') %></a></div>
    </div>
  </div>
  <div class="row">
    <h5><%= t('.shop') %></h5>
    <hr>
    <div class="col-sm-3">
      <div> <a  href="#"><%= t('.about') %></a></div>
      <div> <a  href="#"><%= t('.contact') %></a></div>
      <div> <a  href="#"><%= t('.careeer') %></a></div>
    </div>
    <div class="col-sm-3">
      <div> <a  href="#"><%= t('.partner_program') %></a></div>
      <div> <a  href="#"><%= t('.affiliate_program') %></a></div>
      <div> <a  href="#"><%= t('.app_developers') %></a></div>
    </div>
    <div class="col-sm-3">
      <div> <a  href="#"><%= t('.press_and_media') %></a></div>
      <div> <a  href="#"><%= t('.enterprise_ecommerce') %></a></div>
    </div>
    <div class="col-sm-3">
      <div> <a  href="#"><%= t('.sitemap') %></a></div>
      <div> <a  href="#"><%= t('.acessibility') %></a></div>
      <div>
        <a href="#"><span class="glyphicon glyphicon-cloud"></span></a>
        <a href="#"><span class="glyphicon glyphicon-heart"></span></a>
        <a href="#"><span class="glyphicon glyphicon-ok"></span></a>
        <a href="#"><span class="glyphicon glyphicon-cog"></span></a>
        <a href="#"><span class="glyphicon glyphicon-off"></span></a>
        <a href="#"><span class="glyphicon glyphicon-home"></span></a>
        <a href="#"><span class="glyphicon glyphicon-tag"></span></a>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-3">
      <a class="navbar-brand" href="#"><img alt=<%= t('.shop') %> src="..."></a>
    </div>
    <div class="col-sm-3">
      <a href="#"><%= t('.term_of_service') %></a>
    </div>
    <div class="col-sm-3">
      <a href="#"><%= t('.privacy_policy') %></a>
    </div>
  </div>
</footer>