<h1>Store::Products#show</h1>
<p>Find me in app/views/shop/products/show.html.erb</p>

<h2><%= @product.name %></h2>
<div class="row">
  <div class="col-xs-6 text-center">
    <img src="//placehold.it/450x300" class="img-thumbnail"/>
  </div>
  <div class="col-xs-6">
    <%= @product.description %>
    <br/>
    <br/>
    <%= form_tag add_store_cart_path do %>
      <%= hidden_field_tag :product_id, @product.id %>
      <%= submit_tag 'Purchase', class: 'btn btn-lg btn-primary' %>
    <% end %>
  </div>
</div>