<h1>Store::Checkouts#show</h1>
<p>Find me in app/views/shop/checkouts/show.html.erb</p>

<h2>Shopping cart</h2>
<% if shopping_cart.empty? %>
  Your shopping cart is empty.
<% else %>
  Your shopping cart is NOT empty.
  <%= form_for shopping_cart, 
        as: :checkout, 
        url: update_address_store_checkout_path(shopping_cart), 
        method: :put,
        html: {class: 'cart-form'} do |f| %>
    <table class="table">
    	<% shopping_cart.items.each do |item| %>
      	<tr>
        	<td><%= item.name %></td>
        	<td>
          	<%= item.quantity %>
        	</td>
      	</tr>
    	<% end %>

	    <tr>
	    	<td><%= f.label :email %></td>
	    	<td>
	    		<%= f.text_field :email %>
	    	</td>
	    </tr>

    </table>
    <%= f.button "next step" %>
  <% end %>
  <br/>
<% end %>
