<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h3><%= t('.heading') %></h3>
    <p><%= t('.info_pt1') %><a><%= t('.contact_author') %></a><%= t('.info_pt2') %></p>
    <hr>
    <p><%= t('.how_this_theme') %></p>
    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
    <p><%= t('.what_you_think') %></p>
    <textarea class="form-control" rows="4"></textarea>
    <p><%= t('.number_characters') %></p>
    <button class="btn btn-success"><%= t('.submit_button') %></button>
  </div>
</div>