<header>
  <div class="container">
  	<div class="row">
      <div class="col-md-9">
      	<ul class="nav navbar-nav">
        	<li><a href="#"><%= t('.all') %></a></li>
        	<li><a href="#"><%= t('.free') %></a></li>
        	<li><a href="#"><%= t('.premium') %></a></li>
        	<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('.all_industrues') %><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#"><%= t('.all_industrues') %></a></li>
              <li><a href="#"><%= t('.art_photography') %></a></li>
              <li><a href="#"><%= t('.clothing_fashion') %></a></li>
              <li><a href="#"><%= t('.jewelry_accessories') %></a></li>
              <li><a href="#"><%= t('.electronics') %></a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('.sort_by') %><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#"><%= t('.randomly') %></a></li>
              <li><a href="#"><%= t('.recent') %></a></li>
              <li><a href="#"><%= t('.price_low_to_high') %></a></li>
              <li><a href="#"><%= t('.price_high_to_low') %></a></li>
              <li><a href="#"><%= t('.popular') %></a></li>
            </ul>
          </li>
    		</ul>
  		</div>
  		<div class="col-md-3">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="<%= t('.search_by') %>">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
  		</div>
  	</div>
  </div>
  <hr>
</header>