<div class="sell-jumbotron">
  <h1 class="loud text-center">Welcome to Magaz</h1>
  <h3 class="loud text-center">Everything you need to start selling online &mdash; today</h3>
</div>


<div class='sell-panel panel'>
  <div class='panel-body'>
    <%= form_for @shop,
          url: registration_path,
          data:{validation_url:validate_registration_path},
          html:{class:'script-registration-form'}  do |f| %>
      <div class='row'>
        <div class="script-field col-xs-5 form-group">
          <%= f.text_field :name,
                placeholder: 'Your shop name',
                data: form_error_data(@shop, 'name'),
                class:'script-input-name form-input' %>
          <div class="script-error-label form-error hidden"></div>
        </div>
      
        <div class="script-field col-xs-4 form-group">
          <%= f.text_field :email,
                placeholder: 'Email address',
                data: form_error_data(@shop, 'email'),
                class:'script-input-email form-input' %>
          <div class="script-error-label form-error hidden"></div>
        </div>
      
        <div class="script-field col-xs-3 form-group">
          <%= f.password_field :password,
                placeholder: 'Password',
                data: form_error_data(@shop, 'password'),
                class:'script-input-password form-input' %>
          <div class="script-error-label form-error hidden"></div>
        </div>
      </div>

      <div class='row'>
        <div class='form-group'>
          <div class='col-xs-12'>
            <%= button_tag class: 'button' do %>
              <i class="icon-ok"></i>
              Create your shop now
            <% end %>
          </div>
        </div>
      </div>

      
    <% end %>
  </div>
</div>