<!DOCTYPE html>
<html>
<head>
  <title><%= t('.shop') %></title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0"/>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "shop/application",
        media: "all",
        "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application",
        "data-turbolinks-track" => true,
        defer: "defer" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <br/>
    <div class="row text-right">
      <%= link_to cart_path, class: 'btn btn-lg btn-primary' do %>
        <i class="icon-shopping-cart icon-large"></i>
          <%= t('.shop_cart') %>
      <% end %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
