<%= render 'shared/sort_search_header' %>
<div class="container">
	<div>
	  <h1 class="text-center"><%= t('.heading') %></h1>
	  <div class="row">
	    <div class="col-md-2 col-md-offset-5"><hr></div>
	  </div>
	  <h3 class="text-center"><%= t('.info') %></h3>
	</div>
  <div class="row">
    <div class="col-md-4">
      <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/1034/main/optimized_large.jpg" class="img-thumbnail" alt="Image">
      <span><%= @themes[1].name if @themes[1]%></span>
      <span class="pull-right"><%= t('.free_price') %></span>
    </div>
    <div class="col-md-4">
      <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/1036/main/optimized_large.jpg" class="img-thumbnail" alt="Image">
      <span><%= @themes[2].name if @themes[2]%></span>
      <span class="pull-right"><%= t('.free_price') %></span> 
    </div>
    <div class="col-md-4">
      <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/737/main/optimized_large.jpg" class="img-thumbnail" alt="Image">
      <span><%= @themes[3].name if @themes[3]%></span>
      <span class="pull-right"><%= t('.free_price') %></span>  
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/647/main/optimized_large.jpg" class="img-thumbnail" alt="Image">
      <span><%= @themes[4].name if @themes[4]%></span>
      <span class="pull-right"><%= t('.free_price') %></span>
    </div>
    <div class="col-md-4">
      <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/634/main/optimized_large.jpg" class="img-thumbnail" alt="Image">
      <span><%= @themes[5].name if @themes[5]%></span>
      <span class="pull-right"><%= t('.free_price') %></span> 
    </div>
    <div class="col-md-4">
      <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/636/main/optimized_large.jpg" class="img-thumbnail" alt="Image">
      <span><%= @themes[6].name if @themes[6]%></span>
      <span class="pull-right"><%= t('.free_price') %></span> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
    	<button class="btn btn-success"><%= t('.button_more_themes') %></button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1"><hr></div>
  </div>
  <%= render 'shared/sell_theme' %>
  <%= render "shared/get_started" %>
</div>