<main class="container">
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
      <h1><%= t('.main_heading') %></h1>
        <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" placeholder=<%= t('.placeholder') %>>
          </div>
          <button type="submit" class="btn btn-success"><%= t('.button_login') %></button>
        </form>
      <div class="row text-center">
        <hr>
        <a href="#"><img src="https://themes.shopify.com/assets/graphics/tri-device-signup-3cd6c01b3132c185cc043676835ed9b3062354a7da89bf4b611143df16ed4ad1.jpg"></a>
        <h4><%= t('.get_started_heading') %></h4>
        <p><%= t('.text') %></p>
        <button class="btn btn-success center-block"><%= t('.button_signup') %></button>
      </div>
    </div>
  </div>
  <%= render "shared/get_started" %>
</main>