<%= render 'shared/sort_search_header' %>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <h1><%= @theme.name if @theme%></h1>
      <h4><%= t('.free_price') %></h4>
      <p><%= t('.info') %></p>
      <%= link_to t('.preview_button'), theme_store_preview_in_store_path, class: "btn btn-success" %><br>
      <a href="#"><%= t('.buy_theme') %></a>
      <%= link_to t('.view_demo'), theme_store_demo_path %>
      <hr>
      <h4><%= t('.who_supports') %></h4>
      <p><%= t('.support_info') %></p>
      <a href="#"><%= t('.support') %></a>
      <a href="#"><%= t('.documentation') %></a>
      <a href="#"><%= t('.terms_of_service') %></a>
    </div>
    <div class="col-md-6">
      <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/911/main/original.jpg" class="img-thumbnail" alt="Image">
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h3><%= t('.includes_styles') %></h3>
    </div>  
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/955/main/optimized_large.jpg" class="img-thumbnail" alt="Image">
      <p><%= @styles[0].name if @styles[0]%></p>
    </div>
    <div class="col-md-3">
      <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/988/main/optimized_large.jpg" class="img-thumbnail" alt="Image">
      <p><%= @styles[1].name if @styles[1]%></p>  
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h3><%= t('.store_using_theme') %></h3>
    </div>  
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/225/theme_example/original.png" class="img-thumbnail" alt="Image">
    </div>
    <div class="col-md-2">
      <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/240/theme_example/original.png" class="img-thumbnail" alt="Image"> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h4><%= t('.review_heading') %></h4>
    </div>
    <div class="col-md-5">
      <button class="btn btn-success pull-right"><%= t('.review_button') %></button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 col-md-offset-1">
      <span class="glyphicon glyphicon-thumbs-up center-block" aria-hidden="true"></span>
    </div>
    <div class="col-md-4">
      <p>Simply Kickass! This is a great theme with all the elements you need to get started. The support has also been prompt and helpful. Look forward to seeing what this team dreams up next.</p>
      <p>— CHA CHA TEA</p>
    </div>
    <div class="col-md-1">
      <span class="glyphicon glyphicon-thumbs-up center-block" aria-hidden="true"></span>
    </div>
    <div class="col-md-4">
      <p>Great clean theme with quick and friendly support! Highly recommended.</p>
      <p>— best_shopper</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 col-md-offset-1">
      <span class="glyphicon glyphicon-thumbs-up center-block" aria-hidden="true"></span>
    </div>
    <div class="col-md-4">
      <p>Simply Kickass! This is a great theme with all the elements you need to get started. The support has also been prompt and helpful. Look forward to seeing what this team dreams up next.</p>
      <p>— CHA CHA TEA</p>
    </div>
    <div class="col-md-1">
      <span class="glyphicon glyphicon-thumbs-down center-block" aria-hidden="true"></span>
    </div>
    <div class="col-md-4">
      <p>Great clean theme with quick and friendly support! Highly recommended.</p>
      <p>— worth_shopper</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h4><%= t('.more_themes') %><%= link_to t('.author'), theme_store_authors_themes_path %></h4>
    </div>  
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/955/main/optimized_large.jpg" class="img-thumbnail" alt="Image">
      <span><%= @authors_themes[0].name if @authors_themes[0]%></span>
      <span class="pull-right"><%= t('.free_price') %></span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <button class="btn btn-success"><%= t('.button_more_themes') %></button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h4>
        <%= t('.more') %>
        <%= link_to t('.templates'), theme_store_template_page_path %>
      </h4>
    </div>  
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-md-4">
          <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/900/main/optimized_large.jpg" class="img-thumbnail" alt="Image">
          <span><%= @template_themes[0].name if @template_themes[0]%></span>
          <span class="pull-right"><%= t('.free_price') %></span>
        </div>
        <div class="col-md-4">
          <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/806/main/optimized_large.jpg" class="img-thumbnail" alt="Image">
          <span><%= @template_themes[1].name if @template_themes[1]%></span>
          <span class="pull-right"><%= t('.free_price') %></span>
        </div>
        <div class="col-md-4">
          <img src="https://s3.amazonaws.com/shopify-theme-store/screenshots/695/main/optimized_large.jpg" class="img-thumbnail" alt="Image">
          <span><%= @template_themes[2].name if @template_themes[2]%></span>
          <span class="pull-right"><%= t('.free_price') %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <button class="btn btn-success"><%= t('.button_more_themes') %></button>
    </div>
  </div>
  <%= render "shared/get_started" %>
</div>