<h3><i class="icon-tags"></i> Collections</h3>

<%= link_to 'New Collection', new_admin_collection_path %>

<%= paginate @collections %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @collections.each do |collection| %>
      <tr>
        <td><%= collection.name %></td>
        <td><%= collection.description %></td>
        <td><%= link_to 'Show', [:admin, collection] %></td>
        <td><%= link_to 'Destroy', [:admin, collection], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @collections %>