<h2><%= t('.heading') %></h2>
<% if shopping_cart.empty? %>
  <%= t('.message_empty') %>
<% else %>
  <%= t('.message_not_empty') %>
  <%= form_for shopping_cart, 
        as: :cart, 
        url: store_cart_path, 
        method: :patch,
        html: {class: 'cart-form'} do |f| %>
    <table class="table">
    <% shopping_cart.items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td>
          <%= text_field_tag "cart[updates][#{item.product_id}]", 
                item.quantity, class: 'cart-quantity' %>
        </td>
      </tr>
    <% end %>
    </table>
    <%= f.button t('.button_update_text'), name: 'update', value: 'update' %>
    <%= f.button t('.button_checkout_text'), name: 'checkout', value: 'checkout' %>
  <% end %>
  <br/>
<% end %>
