<ul class='nav nav-tabs nav-justified'>
  <li class='active'>
    <%= link_to 'Dashboard', admin_dashboard_path %>
  </li>
  <li>
    <%= link_to 'Products' %>
  </li>
  <li>
    <%= link_to 'Collections' %>
  </li>
  <li>
    <%= link_to 'Orders' %>
  </li>
  <li>
    <%= link_to 'Customers' %>
  </li>
</ul>