<!DOCTYPE html>
<html>
<head>
  <title>Magaz administration</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>  

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application", 
        media: "all", 
        "data-turbolinks-track" => true %>
  
  <%= javascript_include_tag "application", 
        "data-turbolinks-track" => true,
        defer: "defer" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class='layout-wrapper'>
    
    <div class='navbar navbar-static-top navbar-inverse'>
      <div class='container'>
      <%= link_to 'Magaz', admin_dashboard_path, class: 'navbar-brand' %>
        <div class='nav-collapse collapse'>
          <ul class='nav navbar-nav pull-right'>
            <li>
              <%= link_to session_path, method: :delete do %>
              <i class="icon-signout"></i>
              Sign out
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class='container'>

      <%= yield %>
    </div>
  </div>
  <div class="layout-footer">
    <div class="container">
      <p class="text-muted text-center">&copy; 2013 &mdash; Magaz Ltd.</p>
    </div>
  </div>

</body>
</html>
